@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 15, 15, 15;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Inter", "sans-serif";
}

h1 {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 700;
}

h2 {
  font-size: clamp(18px, 8vw, 24px);
  font-weight: 600;
}

h3 {
  font-size: clamp(16px, 8vw, 24px);
  font-weight: 700;
}

p,
ul,
li {
  font-size: clamp(12px, 3vw, 14px);
}

h5 {
  font-size: clamp(14px, 3vw, 16px);
}

h6 {
  font-size: clamp(8px, 3vw, 12px);
}

td,
tr {
  margin: 0;
  padding: 0;
}
